#!/usr/bin/env bash

# Common core utils
alias ls='ls --color=auto'
alias l='ls -lhA --color=auto --ignore=".*.un~*"'

alias grep='grep --color=auto'

# Open vimwiki
alias vimwiki='vim -c VimwikiIndex'

# System info
alias ports='echo "Proto Recv-Q Send-Q  Local Address          Foreign Address        (state)" && netstat -atp tcp | grep -i "listen"'
alias meminfo='memfree'

## Most memory consuming processes
alias psmem='ps aux | sort -nr -k 4'
alias psmem10='ps aux | sort -nr -k 4 | head -10'

## Most CPU intensive processes
alias pscpu='ps aux | sort -nr -k 3'
alias pscpu10='ps aux | sort -nr -k 3 | head -10'

# Git specific
alias gs='git status'
alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gd='git diff'
alias gco='git checkout'
alias gl='git pull --prune'
alias gp='git push'

# Vagrant specific
alias v='vagrant'
alias vd='vagrant destroy'
alias vu='vagrant up'
alias vr='vagrant_reset'
alias vp='vagrant provision'

# Use GNU cal (and start days on Monday)
alias cal="gcal --starting-day=1 $1"

# enter go workspace
alias gop='cd ~/go/src/github.com/JackBracken'
alias gocov='go test -coverprofile=coverage.out && go tool cover -html=coverage.out'

alias myip='dig +short myip.opendns.com @resolver1.opendns.com'
